.jumbotron{
    background-image: url("./images/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg");
    background-size: cover;
    background-position: 50% 50%;
    color:white;
    margin: 0px
}

.filter{
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 20px;
}

hr{
    background-color: white;
}